In [2]:
from inspect import signature
import imdb
import pandas as pd
import requests
import os
import sqlite3

#### Assignment 1 (1 points): download all 7 dumps, print summary

In [2]:
#taking a look at the webpage
url = 'https://datasets.imdbws.com/'
r = requests.get(url)

In [4]:
#define a function to print summaries
def summ(df, name):
    return print('\tHere are the top 5 rows of the dataframe ' + name + ' downloaded from IMDB \n\n' + str(df.head()) 
                + '\n\n \tThe Shape of the dataframe is ' + str(df.shape)
                + '\n\n \tSome basic infioration about the dataframe \n\n' + str(df.info)
                + '\n\n \tDescription of the contents of the dataframe \n\n' + str(df.describe()))

In [5]:
#Downloading, unpacking, saving as .tsv and extraction information with pandas
#Print summaries for all datasets 
links = ["https://datasets.imdbws.com/name.basics.tsv.gz", "https://datasets.imdbws.com/title.akas.tsv.gz", "https://datasets.imdbws.com/title.basics.tsv.gz", "https://datasets.imdbws.com/title.crew.tsv.gz", "https://datasets.imdbws.com/title.episode.tsv.gz", "https://datasets.imdbws.com/title.principals.tsv.gz", "https://datasets.imdbws.com/title.ratings.tsv.gz"]
for link in links: 
    r = requests.get(link)
    name =  link[28:-3]
    open("data.tsv.gz", 'wb').write(r.content)
    !gzip -df data.tsv.gz
    os.rename('data.tsv', name)
    df = pd.read_csv(name, sep = "\t")
    summ(df, name)

	Here are the top 5 rows of the dataframe name.basics.tsv downloaded from IMDB

      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                     primaryProfession  \
0       soundtrack,actor,miscellaneous
1                   actress,soundtrack
2  actress,soundtrack,music_department
3              actor,soundtrack,writer
4                writer,director,actor

                            knownForTitles
0  tt0053137,tt0050419,tt0031983,tt0072308
1  tt0071877,tt0038355,tt0037382,tt0117057
2  tt0057345,tt0049189,tt0054452,tt0056404
3  tt0080455,tt0077975,tt0072562,tt0078723
4  tt0083922,tt0050986,tt0060827,tt0050976

 	The Shape of the dataframe is (11224662, 6)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of              nconst         primaryName birthYear deathYear  \
0         nm0000001        Fred Astaire      1899      1987
1         nm0000002       Lauren Bacall      1924      2014
2         nm0000003     Brigitte Bardot      1934        \N
3         nm0000004        John Belushi      1949      1982
4         nm0000005      Ingmar Bergman      1918      2007
...             ...                 ...       ...       ...
11224657  nm9993714   Romeo del Rosario        \N        \N
11224658  nm9993716       Essias Loberg        \N        \N
11224659  nm9993717  Harikrishnan Rajan        \N        \N
11224660  nm9993718         Aayush Nair        \N        \N
11224661  nm9993719          Andre Hill        \N        \N

                            primaryProfession  \
0              soundtrack,actor,miscellaneous
1                          actress,soundtrack
2         actress,soundtrack,music_department
3                     actor,soundtrack,writer
4                       writer,director,actor
...                                       ...
11224657  animation_department,art_department
11224658                                  NaN
11224659                      cinematographer
11224660                      cinematographer
11224661                                  NaN

                                   knownForTitles
0         tt0053137,tt0050419,tt0031983,tt0072308
1         tt0071877,tt0038355,tt0037382,tt0117057
2         tt0057345,tt0049189,tt0054452,tt0056404
3         tt0080455,tt0077975,tt0072562,tt0078723
4         tt0083922,tt0050986,tt0060827,tt0050976
...                                           ...
11224657                     tt11657662,tt2455546
11224658                                       \N
11224659                                tt8736744
11224660                                       \N
11224661                                       \N

[11224662 rows x 6 columns]>

 	Description of the contents of the dataframe

           nconst  primaryName birthYear deathYear primaryProfession  \
count    11224662     11224662  11224662  11224662           8815614
unique   11224662      8730317       505       443             20483
top     nm9510503  David Smith        \N        \N             actor
freq            1          337  10690301  11031343           2003560

       knownForTitles
count        11224662
unique        4634105
top                \N
freq          2121727

/Users/tima/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

	Here are the top 5 rows of the dataframe title.akas.tsv downloaded from IMDB

     titleId  ordering                      title region language  \
0  tt0000001         1                 Карменсіта     UA       \N
1  tt0000001         2                 Carmencita     DE       \N
2  tt0000001         3  Carmencita - spanyol tánc     HU       \N
3  tt0000001         4                 Καρμενσίτα     GR       \N
4  tt0000001         5                 Карменсита     RU       \N

         types     attributes isOriginalTitle
0  imdbDisplay             \N               0
1           \N  literal title               0
2  imdbDisplay             \N               0
3  imdbDisplay             \N               0
4  imdbDisplay             \N               0

 	The Shape of the dataframe is (29122810, 8)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of             titleId  ordering                      title region language  \
0         tt0000001         1                 Карменсіта     UA       \N
1         tt0000001         2                 Carmencita     DE       \N
2         tt0000001         3  Carmencita - spanyol tánc     HU       \N
3         tt0000001         4                 Καρμενσίτα     GR       \N
4         tt0000001         5                 Карменсита     RU       \N
...             ...       ...                        ...    ...      ...
29122805  tt9916852         5             Episódio #3.20     PT       pt
29122806  tt9916852         6             Episodio #3.20     IT       it
29122807  tt9916852         7               एपिसोड #3.20     IN       hi
29122808  tt9916856         1                   The Wind     DE       \N
29122809  tt9916856         2                   The Wind     \N       \N

                types     attributes isOriginalTitle
0         imdbDisplay             \N               0
1                  \N  literal title               0
2         imdbDisplay             \N               0
3         imdbDisplay             \N               0
4         imdbDisplay             \N               0
...               ...            ...             ...
29122805           \N             \N               0
29122806           \N             \N               0
29122807           \N             \N               0
29122808  imdbDisplay             \N               0
29122809     original             \N               1

[29122810 rows x 8 columns]>

 	Description of the contents of the dataframe

           ordering
count  2.912281e+07
mean   3.989133e+00
std    3.400145e+00
min    1.000000e+00
25%    2.000000e+00
50%    3.000000e+00
75%    6.000000e+00
max    1.650000e+02

/Users/tima/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

	Here are the top 5 rows of the dataframe title.basics.tsv downloaded from IMDB

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

 	The Shape of the dataframe is (8268702, 9)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of             tconst  titleType               primaryTitle  \
0        tt0000001      short                 Carmencita
1        tt0000002      short     Le clown et ses chiens
2        tt0000003      short             Pauvre Pierrot
3        tt0000004      short                Un bon bock
4        tt0000005      short           Blacksmith Scene
...            ...        ...                        ...
8268697  tt9916848  tvEpisode              Episode #3.17
8268698  tt9916850  tvEpisode              Episode #3.19
8268699  tt9916852  tvEpisode              Episode #3.20
8268700  tt9916856      short                   The Wind
8268701  tt9916880  tvEpisode  Horrid Henry Knows It All

                     originalTitle isAdult startYear endYear runtimeMinutes  \
0                       Carmencita       0      1894      \N              1
1           Le clown et ses chiens       0      1892      \N              5
2                   Pauvre Pierrot       0      1892      \N              4
3                      Un bon bock       0      1892      \N             12
4                 Blacksmith Scene       0      1893      \N              1
...                            ...     ...       ...     ...            ...
8268697              Episode #3.17       0      2010      \N             \N
8268698              Episode #3.19       0      2010      \N             \N
8268699              Episode #3.20       0      2010      \N             \N
8268700                   The Wind       0      2015      \N             27
8268701  Horrid Henry Knows It All       0      2014      \N             10

                           genres
0               Documentary,Short
1                 Animation,Short
2        Animation,Comedy,Romance
3                 Animation,Short
4                    Comedy,Short
...                           ...
8268697       Action,Drama,Family
8268698       Action,Drama,Family
8268699       Action,Drama,Family
8268700                     Short
8268701   Animation,Comedy,Family

[8268702 rows x 9 columns]>

 	Description of the contents of the dataframe

           tconst  titleType  primaryTitle originalTitle  isAdult startYear  \
count     8268702    8268702       8268694       8268694  8268702   8268702
unique    8268702         13       3956660       3975335       11       257
top     tt6293548  tvEpisode  Episode #1.1  Episode #1.1        0        \N
freq            1    6066923         40777         40777  7952530    977509

        endYear runtimeMinutes   genres
count   8268702        8268702  8268692
unique       96            849     2291
top          \N             \N    Drama
freq    8186550        5938930   891824
	Here are the top 5 rows of the dataframe title.crew.tsv downloaded from IMDB

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

 	The Shape of the dataframe is (8270782, 3)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of             tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8270777  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8270778  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8270779  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8270780  tt9916856           nm10538645                      nm6951431
8270781  tt9916880            nm0996406            nm1482639,nm2586970

[8270782 rows x 3 columns]>

 	Description of the contents of the dataframe

           tconst directors  writers
count     8270782   8270782  8270782
unique    8270782    828437  1136793
top     tt6293548        \N       \N
freq            1   3501109  4054604
	Here are the top 5 rows of the dataframe title.episode.tsv downloaded from IMDB

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0021166   tt15180956            1             3
2  tt0021612   tt15180956            2             2
3  tt0021655   tt15180956            2             5
4  tt0021663   tt15180956            2             6

 	The Shape of the dataframe is (6068229, 4)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of             tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0021166   tt15180956            1             3
2        tt0021612   tt15180956            2             2
3        tt0021655   tt15180956            2             5
4        tt0021663   tt15180956            2             6
...            ...          ...          ...           ...
6068224  tt9916846    tt1289683            3            18
6068225  tt9916848    tt1289683            3            17
6068226  tt9916850    tt1289683            3            19
6068227  tt9916852    tt1289683            3            20
6068228  tt9916880    tt0985991            4             2

[6068229 rows x 4 columns]>

 	Description of the contents of the dataframe

           tconst parentTconst seasonNumber episodeNumber
count     6068229      6068229      6068229       6068229
unique    6068229       163108          368         15683
top     tt6293548    tt0058796            1            \N
freq            1        14297      3030703       1227159
	Here are the top 5 rows of the dataframe title.principals.tsv downloaded from IMDB

      tconst  ordering     nconst         category                      job  \
0  tt0000001         1  nm1588970             self                       \N
1  tt0000001         2  nm0005690         director                       \N
2  tt0000001         3  nm0374658  cinematographer  director of photography
3  tt0000002         1  nm0721526         director                       \N
4  tt0000002         2  nm1335271         composer                       \N

  characters
0   ["Self"]
1         \N
2         \N
3         \N
4         \N

 	The Shape of the dataframe is (46802618, 6)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of              tconst  ordering      nconst         category  \
0         tt0000001         1   nm1588970             self
1         tt0000001         2   nm0005690         director
2         tt0000001         3   nm0374658  cinematographer
3         tt0000002         1   nm0721526         director
4         tt0000002         2   nm1335271         composer
...             ...       ...         ...              ...
46802613  tt9916880         4  nm10535738          actress
46802614  tt9916880         5   nm0996406         director
46802615  tt9916880         6   nm1482639           writer
46802616  tt9916880         7   nm2586970           writer
46802617  tt9916880         8   nm1594058         producer

                              job        characters
0                              \N          ["Self"]
1                              \N                \N
2         director of photography                \N
3                              \N                \N
4                              \N                \N
...                           ...               ...
46802613                       \N  ["Horrid Henry"]
46802614       principal director                \N
46802615                       \N                \N
46802616                    books                \N
46802617                 producer                \N

[46802618 rows x 6 columns]>

 	Description of the contents of the dataframe

           ordering
count  4.680262e+07
mean   4.569770e+00
std    2.775666e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

	Here are the top 5 rows of the dataframe title.ratings.tsv downloaded from IMDB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1816
1  tt0000002            6.0       233
2  tt0000003            6.5      1572
3  tt0000004            6.1       151
4  tt0000005            6.2      2394

 	The Shape of the dataframe is (1186918, 3)

 	Some basic infioration about the dataframe

<bound method DataFrame.info of             tconst  averageRating  numVotes
0        tt0000001            5.7      1816
1        tt0000002            6.0       233
2        tt0000003            6.5      1572
3        tt0000004            6.1       151
4        tt0000005            6.2      2394
...            ...            ...       ...
1186913  tt9916682            5.6         5
1186914  tt9916690            6.6         5
1186915  tt9916720            5.3       132
1186916  tt9916766            7.1        17
1186917  tt9916778            7.5        31

[1186918 rows x 3 columns]>

 	Description of the contents of the dataframe

       averageRating      numVotes
count   1.186918e+06  1.186918e+06
mean    6.923361e+00  9.751917e+02
std     1.397115e+00  1.631075e+04
min     1.000000e+00  5.000000e+00
25%     6.200000e+00  1.100000e+01
50%     7.100000e+00  2.400000e+01
75%     7.900000e+00  9.100000e+01
max     1.000000e+01  2.459476e+06

#### Assignment 2 (2 points): save them into 7 sqlite databases with same column names

In [63]:
#make a single db with all of the tables 
names = ['title_ratings', 'title_principals',
 'title_akas', 'name_basics', 'title_basics', 'title_episode', 'title_crew']
tsvs = ['title.ratings.tsv', 'title.principals.tsv',
 'title.akas.tsv', 'name.basics.tsv', 'title.basics.tsv', 'title.episode.tsv', 'title.crew.tsv']

conn = sql.connect('IMDB.db')
cursor = con.cursor()

for i in range(len(names)):
    print(names[i])
    df = pd.read_csv(tsvs[i], sep = '\t')
    df.to_sql(names[i], conn)

title_ratings
title_principals
title_akas

/Users/tima/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

name_basics
title_basics

/Users/tima/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

title_episode
title_crew

#### Assignment 3 (3 points): download 2 dumps (actors-movie and movie-rating) and produce a pandas dataframe of actor-avgrating using join

In [54]:
# Uploading datasets
names = pd.read_csv('name.basics.tsv', sep = '\t')
rtitles = pd.read_csv('title.ratings.tsv', sep = '\t')

In [56]:
names = names[['nconst', 'primaryName', 'knownForTitles']]

In [57]:
title_principals = pd.read_csv('title.principals.tsv', sep = '\t')
title_principals = title_principals[['tconst', 'nconst', 'category']]
title_principals = title_principals[title_principals['category'] == 'actor']

In [59]:
# joining datatest to produse avarage ratings for all of the movies an actor is listed in
res = pd.merge(title_principals,rtitles,on='tconst',how='outer')
res = res.groupby(by = 'nconst').averageRating.mean()

In [60]:
# Taking a look at the result and saving it 
actors_ratings = pd.merge(res, names, on='nconst', how='right')
actors_ratings = actors_ratings[['primaryName', 'nconst', 'averageRating']]
print(actors_ratings.head(10))
actors_ratings.to_csv('task3_res.csv')